### Pandas
#### (1) DataFrame 객체 : 2차원 배열, 서로 다른 자료형을 사용할 수 있다,  행(인스턴스), 열(컬럼,피쳐(feature))
#### (2) Series 객체  : 1차원 배열, 1차원 ndarray 와 호환

### [1] 데이터 프레임(DataFrame) 객체

In [11]:
# pip install pandas
import pandas as pd
import numpy as np


# 2차원 리스트, 배열을 사용하여 생성
df = pd.DataFrame([[1,2,3],
                   [4,5,6],
                   [7,8,9]])
print(type(df))
# print(df)
df

<class 'pandas.core.frame.DataFrame'>

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [41]:
# 사전(dict)을 사용하여 생성
score_table = { '성명': ['홍길동','김철수','김영희','나','너'],
                '국어': [50,60,70,80,90],
                '영어': [10,20,30,40,50],
                '수학': [70,80,90,30,20]}

# print(score_table,type(score_table))

df = pd.DataFrame(score_table)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

    성명  국어  영어  수학
0  홍길동  50  10  70
1  김철수  60  20  80
2  김영희  70  30  90
3    나  80  40  30
4    너  90  50  20

In [42]:
df.shape

(5, 4)

In [43]:
df.index  # 행의 index

RangeIndex(start=0, stop=5, step=1)

In [44]:
df.columns # 컬럼 이름 목록 , object : 문자열

Index(['성명', '국어', '영어', '수학'], dtype='object')